* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
    background-color: rgb(233, 233, 233);
}

h1 {
    text-align: center;
    color: cadetblue;
    margin-bottom: 2rem;
}


.container-options {
    width: 120rem;
    height: 40rem;
    margin: 15rem auto 22rem;
    padding: 30px 50px;
    border: 1.5px solid rgb(188, 198, 201);
    backdrop-filter: blur(3px);
    border-radius: 24px;
    box-shadow: 5px 5px 3rem;

}

img {
    display: block;
    width: 40%;
    height: 40%;
}

.options {
    display: inline-block;
    height: 27rem;
}

.container-options>div  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2.5rem;
    align-content: center;

}
.container-options>div label {
    display: block;
    font-weight: bold;
}
.container-options>div input {
    all: unset;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.container-options button {
    border: none;
    width: 100%;
    padding: 10px 20px;
    background-color: cadetblue;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}


.container-options button:hover {
    outline: 1px solid cadetblue;
    background-color: #fff;
    color: cadetblue;
    transform: scale(0.9);
}

