* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(220, 220, 220);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: cadetblue;
    margin-bottom: 2rem;
}
.title {
    margin-bottom: 5rem;
}

.img {
    width: 100%;
    max-width: 100%;
}

button {
    border: none;
    width: 80%;
    padding: .5rem 1rem;
    background-color: cadetblue;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}

.buscador {
    display: flex;
    width: 45rem;
    height: 4rem;
    margin-top: 14rem;
    margin-left: 10rem;
}

.buscador>div  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.buscador>div label {
    display: block;
    font-size: 2rem;
}
.buscador>div input {
    all: unset;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 20rem;
    border: 1px solid #ccc;
}

.buscador > .btn-buscador {
    margin-left: 1rem;
}

.buscador button {
    border: none;
    width: 10rem;
    padding: 5px 20px;
    background-color: cadetblue;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
}

.buscador button:hover {
    outline: 1px solid cadetblue;
    background-color: #fff;
    color: cadetblue;
}


.edit-container {
    width: 175rem;
    min-width: 50%;
    margin: 2rem auto 16.7rem;
    padding: 30px 50px;
    background-color: rgb(220, 220, 220);

}

.edit-container > .products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 35rem;
    grid-row-gap: 10rem;
 /*   background-color: rgb(110, 29, 185);*/

}



.content-prod {
    height: 45rem;
   /*  background-color: red;*/
   border: 1.5px solid rgb(105, 105, 105);
   padding: 1rem 1rem 1rem;
   border-radius: 10px;
    overflow-y: auto;
    margin-bottom: 3rem;
    
   
}

.registers {
    width: 30rem;

}

.edit-container > .products > div {
    max-width: 30rem;
    overflow-wrap: break-word;
}

.edit-container>div label {
    display: block;
    font-weight: bold;
}
.edit-container>div input {
    all: unset;
    font-size: 1rem;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.text {
    margin-bottom: 1rem;
    text-align: center;
    line-height: 2rem;
}

.edit-container button:hover {
    outline: 1px solid cadetblue;
    background-color: #fff;
    color: cadetblue;
}
@media screen and (max-width: 1500px) {
    .edit-container > .products {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 5rem;
        grid-row-gap: 10rem;
   
    
    }
}


